# Test dir #
src/com/sudoku/tests/

# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
build.xml
manifest.mf

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

# Compile sources #
target/

# Eclipse
.project
.settings
.classpath
.metadata
bin/

# intelliJ
.idea
*.iml
/nbproject/
/sonar-runner-2.4/
/sonarqube-4.5.1/
/sonar-project.properties
/src/com/sudoku/sonar-project.properties
/settings.xml